
body{
    margin: 0;
}
.main-heading{
    background-color: black;
    color: white;
    font-family: cursive, sans-serif;
    font-size: 50px;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body{
    display: flex;
    justify-content: center;
    padding: 30px 0 30px 0;
    background-color: rgb(221, 171, 204);
    flex-grow: 1;
}
.container{
    padding: 0px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(5, 89, 104);
    height: 400px;
    width: 180px;
    margin: 0 100px 50px 0 ;
    border-radius: 20px;
    background-color: rgb(118, 210, 233);
}
.color-head, .grid-options{
    color: rgb(24, 116, 31);
    font-weight: 600;
    background-color: white;
    padding: 2px;
    margin-top: 10px;
}
button{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    color: rgb(255, 249, 249);
    background-color: rgb(34, 58, 87);
    font-weight: bold;
}
#color{
    width: 140px; 
}
#grid-size{
    width: 140px;
}
.active{
    background-color: red;
}
a{
    text-decoration: none;
    color: white;
    background-color: rgb(216, 79, 175);
    margin: 15px;
    padding: 10px;
}
.container{
    height: 500px;
    width: 700px;
    margin-right: 200px;
    background-color: white;
    display:grid;
}
.footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-weight: 500;
}
